:root {
  --font-body-family: Assistant, sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-heading-family: Assistant, sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-body-scale: 1;
  --font-heading-scale: 1;
  --color-base-text: 18, 18, 18;
  --color-shadow: 18, 18, 18;
  --color-base-background-1: 255, 255, 255;
  --color-base-background-2: 243, 243, 243;
  --color-base-solid-button-labels: 255, 255, 255;
  --color-base-outline-button-labels: 18, 18, 18;
  --color-base-accent-1: 18, 18, 18;
  --color-base-accent-2: 51, 79, 180;
  --payment-terms-background-color: #ffffff;
  --gradient-base-background-1: #ffffff;
  --gradient-base-background-2: #f3f3f3;
  --gradient-base-accent-1: #121212;
  --gradient-base-accent-2: #334fb4;
  --media-padding: px;
  --media-border-opacity: 0.05;
  --media-border-width: 1px;
  --media-radius: 0px;
  --media-shadow-opacity: 0;
  --media-shadow-horizontal-offset: 0px;
  --media-shadow-vertical-offset: 0px;
  --media-shadow-blur-radius: 0px;
  --page-width: 120rem;
  --page-width-margin: 0rem;
  --card-image-padding: 0rem;
  --card-corner-radius: 0rem;
  --card-text-alignment: left;
  --card-border-width: 0rem;
  --card-border-opacity: 0;
  --card-shadow-opacity: 0.1;
  --card-shadow-horizontal-offset: 0rem;
  --card-shadow-vertical-offset: 0rem;
  --card-shadow-blur-radius: 0rem;
  --badge-corner-radius: 4rem;
  --popup-border-width: 1px;
  --popup-border-opacity: 0.1;
  --popup-corner-radius: 0px;
  --popup-shadow-opacity: 0;
  --popup-shadow-horizontal-offset: 0px;
  --popup-shadow-vertical-offset: 0px;
  --popup-shadow-blur-radius: 0px;
  --drawer-border-width: 1px;
  --drawer-border-opacity: 0.1;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 0px;
  --drawer-shadow-blur-radius: 0px;
  --spacing-sections-desktop: 0px;
  --spacing-sections-mobile: 0px;
  --grid-desktop-vertical-spacing: 8px;
  --grid-desktop-horizontal-spacing: 8px;
  --grid-mobile-vertical-spacing: 4px;
  --grid-mobile-horizontal-spacing: 4px;
  --text-boxes-border-opacity: 0;
  --text-boxes-border-width: 0px;
  --text-boxes-radius: 0px;
  --text-boxes-shadow-opacity: 0;
  --text-boxes-shadow-horizontal-offset: 0px;
  --text-boxes-shadow-vertical-offset: 0px;
  --text-boxes-shadow-blur-radius: 0px;
  --buttons-radius: 0px;
  --buttons-radius-outset: 0px;
  --buttons-border-width: 1px;
  --buttons-border-opacity: 1;
  --buttons-shadow-opacity: 0;
  --buttons-shadow-horizontal-offset: 0px;
  --buttons-shadow-vertical-offset: 0px;
  --buttons-shadow-blur-radius: 0px;
  --buttons-border-offset: 0px;
  --inputs-radius: 0px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 0.55;
  --inputs-shadow-opacity: 0;
  --inputs-shadow-horizontal-offset: 0px;
  --inputs-margin-offset: 0px;
  --inputs-shadow-vertical-offset: 0px;
  --inputs-shadow-blur-radius: 0px;
  --inputs-radius-outset: 0px;
  --variant-pills-radius: 40px;
  --variant-pills-border-width: 1px;
  --variant-pills-border-opacity: 0.55;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 0px;
  --variant-pills-shadow-blur-radius: 0px;
  font-size: 10px;
}
